html, button, input, select, textarea, main {
    /* Set your content font stack here: */
    font-family: Georgia, "NanumMyeongjo", Times, "Times New Roman", serif;
}

h1, h2, h3 {
  font-weight: bold;
}
h1, h2, h3, ol, ul {
  font-family: "Helvetica Neue", sans-serif;
}

.posts code {
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 1px;
  background-color: #f8f8f8;
}

.post-title {
  border-bottom: 1px solid teal;
  font-size: 1.8em;
  color: teal;
  margin-bottom: 0.3em;
}

.post-meta {
  color: #999;
  font-size: 90%;
}

blockquote {
  border-left: 4px solid #aaa;
  background: #fafafa;
  padding: 10px;
}

blockquotea p {
  margin: 0;
}

.logo {
  font-family: "Chalkduster", "Marker Felt", serif;
}

.post-tag {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  border-radius: 2px;
  font-size: 80%;
}

.layout {
  margin: 20px auto;
  padding: 0 10px;
  max-width: 760px;
  min-height: 500px;
}

.breadcrumb > li + li::before {
  font-family: 'FontAwesome';
  content:"\f105"; /* angle-right */
  /* content:"\f101"; /* angle-double-right */
  /* content:"\f0da"; /* caret-right */
}

footer {
  display: block;
  text-align: right;
  font-size: small;
  background-color: #CCD1D9;
  margin-top: 50px;
  padding: 30px;
  width: 100%;
  height: 120px;
}

img {
  max-width: 100%;
}