{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

<div class="layout">
  <ol class="breadcrumb">
    <li><a href="/">홈</a></li>
    <li><a href="/post">블로그</a></li>
    <li class="active">{{ .Title }}</li>
  </ol>

  <div class="pure-u-1">
    <!-- A wrapper for all the blog posts -->
    <div class="posts">
      <!-- A single blog post -->
      <section class="post">
        <header class="post-header">
          <h2 class="post-title">
            {{ .Title }}
          </h2>

          <p class="post-meta">
            <i class="fa fa-calendar-o"></i>
            {{ .Date.Format  "2006-01-02" }}
            {{ range .Params.tags }}
            <a class="post-tag post-tag-{{.}}" href="#">{{.}}</a>
            {{ end }}
          </p>
        </header>

        <div class="post-description">
          {{ .Content }}
        </div>
      </section>
    </div>
  </div>
  <div class="pure-u-1">
    {{ partial "holiday-project-list.html" }}
  </div>
</div>

{{ partial "prevnext.html" . }}
{{ partial "footer.html" }}
