html, button, input, select, textarea {
    /* Set your content font stack here: */
    font-family: Georgia, "NanumGothic", Times, "Times New Roman", serif;
}

h1, h2, h3 {
  font-family: "Helvetica Neue", "NanumGothic", sans-serif;
}

.site-logo {
  font-family: "American Typewriter", "Courier New";
  font-size: 24px;
  margin: 0 10px;
  padding: 5px;
  display: block;
  float: left;
}

/*nav {
  position: absolute;
  z-index: 3;
  background-color: #2d3e50;
  color: white;
  width: 100%;
  top: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 5px;
}

nav ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

nav ul.site-links {
  display: block;
  float: left;
  padding: 0px;
  margin: 0px;
}

nav ul.site-links li {
  display: block;
  float: left;
  padding: 12px 10px;
}

nav ul.social-links {
  display: block;
  float: right;
  padding: 11px;
  margin: 0;
}

nav ul.social-links li {
  float: left;
  padding: 0 5px;
}

nav a:hover,
nav a:visited,
nav a:active,
nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #aecfe5;
}
*/
.post-description {
  font-family: "NanumMyeongjo", "Times New Roman", serif;
  line-height: 1.4em;
}

.posts code {
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 1px;
  background-color: #f8f8f8;
}

.posts img {
  max-width: 100%;
}

.post-title {
  border-bottom: 1px solid teal;
  font-size: 1.8em;
  color: teal;
  margin-bottom: 0.3em;
}

.post-meta {
  color: #999;
  font-size: 90%;
}

footer {
  display: block;
  text-align: right;
  font-size: small;
  color: gray;
  background-color: #eee;
  margin-top: 100px;
  padding: 30px;
  width: 100%;
  height: 120px;
}

blockquote {
  border-left: 4px solid #aaa;
  background: #fafafa;
  margin: 0;
  padding: 10px;
}

blockquote p {
  margin: 0;
}

.post-tag {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  border-radius: 2px;
  font-size: 80%;
}

.layout {
  margin: 20px auto;
  padding: 0 10px;
  max-width: 800px;
}

img {
  max-width: 100%;
}