html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: Georgia, "NanumGothic", Times, "Times New Roman", serif;
}

@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

h1, h2, h3 {
  font-family: "Helvetica Neue", "NanumGothic", sans-serif;
}

.site-logo {
  font-family: "American Typewriter", "Courier New";
  font-size: 24px;
  margin: 0 10px;
  padding: 5px;
  display: block;
  float: left;
}

.navigation {
  position: absolute;
  z-index: 3;
  background-color: #2d3e50;
  color: white;
  width: 100%;
  top: 0;
  height: 40px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 5px;
}

.navigation ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

.navigation ul.site-links {
  display: block;
  float: left;
  padding: 0px;
  margin: 0px;
}

.navigation ul.site-links li {
  display: block;
  float: left;
  padding: 12px 10px;
}

.navigation ul.social-links {
  display: block;
  float: right;
  padding: 11px;
  margin: 0;
}

.navigation ul.social-links li {
  float: left;
  padding: 0 5px;
}

.navigation a:hover,
.navigation a:visited,
.navigation a:active,
.navigation a {
  text-decoration: none;
  color: white;
}

.navigation a:hover {
  color: #aecfe5;
}

.post-description {
  font-family: "NanumMyeongjo", "Times New Roman", serif;
  line-height: 1.4em;
}

.posts code {
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 1px;
  background-color: #f8f8f8;
}

.post-title {
  border-bottom: 1px solid teal;
  font-size: 1.8em;
  color: teal;
  margin-bottom: 0.3em;
}

.post-meta {
  color: #999;
  font-size: 90%;
}

footer {
  float: right;
  font-size: small;
  color: gray;
  margin: 20px;
}

a {
  color: rgb(66, 139, 232);
  text-decoration: none;
}

a:visited {
  color: rgb(66, 139, 202);
}

a:hover {
  color: rgb(42, 100, 150);
  text-decoration: underline;
}

blockquote {
  border-left: 4px solid #aaa;
  background: #fafafa;
  margin: 0;
  padding: 10px;
}

blockquote p {
  margin: 0;
}

.post-tag {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  border-radius: 2px;
  font-size: 80%;
}

.layout {
  margin: 40px auto;
  padding: 0 10px;
  max-width: 800px;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}

.splash-container {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.splashed-content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}
