{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
<main class="layout">
  <div class="container-fluid">
    <div class="posts">
      {{ range .Data.Pages }}
        <div>
        <h2>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          <small class="pull-right"><i class="fa fa-calendar-o"></i>
          {{ .Date.Format  "2006-01-02" }}
          </small>
        </h2>
        </div>
        <div class="post-meta">
          <p class="meta">
          </p>
        </div>
        <div class="post-description">
          {{ .Summary }}
          {{ if .Truncated }}
          ... <a class="btn btn-default btn-xs" href="{{ .Permalink }}">더 읽기</a>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
</main>

{{ partial "footer.html" . }}