html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: Georgia, "NanumGothic", Times, "Times New Roman", serif;
}

h1, h2, h3 {
  font-family: "Helvetica Neue", sans-serif;
}

.site-logo {
  font-family: "American Typewriter", "Courier New";
  font-size: 24px;
  padding: 20px;
  display: inline;
  vertical-align: baseline;
  margin: 0;
}

.navigation {
  background-color: #eee;
  margin: 5px;
  border-radius: 5px;
  height: 40px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 5px;
}

.navigation .social-links {
  float: right;
  padding: 5px;
}

.navigation ul {
  position: relative;
  display: inline;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

.navigation li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.navigation a:hover,
.navigation a:visited,
.navigation a:active,
.navigation a {
  text-decoration: none;
  color: black;
}

.post-description {
  font-family: "NanumMyeongjo", "Times New Roman", serif;
  line-height: 1.4em;
}

.posts code {
  border-radius: 5px;
  border: 1px solid #efefef;
}

.post-title {
  border-bottom: 1px solid teal;
  font-size: 1.8em;
  color: teal;
  margin-bottom: 0.3em;
}

.post-meta {
  color: #999;
  font-size: 90%;
}

footer {
  float: right;
  font-size: small;
  color: grey;
  margin: 20px;
}

a {
  color: rgb(66, 139, 232);
  text-decoration: none;
}

a:visited {
  color: rgb(66, 139, 202);
}

a:hover {
  color: rgb(42, 100, 150);
  text-decoration: underline;
}

.post-tag {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  border-radius: 2px;
  font-size: 80%;
}

.layout {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}