<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="{{ .Title }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:description" content="소프트웨어 개발자, 김대현의 블로그">
  <title>{{ .Title }}</title>
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="stylesheet" href="/css/bootstrap.flatly.css">
  <link rel="stylesheet" href="/css/bootstrap-social.css">
  <link rel="stylesheet" href="/css/highlight/github.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/awjordan.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/highlight.pack.js"></script>
  <script src="/js/d3.min.js"></script>
  <script src="/js/hatemogi.js"></script>
</head>
<body>
