{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

<main class="layout">
  <div class="container-fluid">
    <div class="jumbotron">
      <img src="/img/profile.jpg" class="img-rounded pull-right" style="width: 210px; opacity: 0.7;">
      <h1 class="logo">hatemogi</h1>
      <p>서버 소프트웨어 개발자</p>
      <a class="btn btn-info btn-lg" href="/about" role="button">소개</a>
      <a class="btn btn-success btn-lg" href="/post" role="button">블로그</a>
      <!-- <a class="btn btn-warning btn-lg" href="/project" role="button">프로젝트</a> -->
    </div>
  </div>

  <div class="container-fluid">
    <div class="center-block" style="text-align: center;">
    <h2>
      <a href="https://github.com/hatemogi"><i class="fa fa-github fa-lg"></i></a>
      <a href="https://medium.com/hatemogi"><i class="fa fa-medium fa-lg"></i></a>
      <a href="https://twitter.com/@hatemogi"><i class="fa fa-twitter fa-lg"></i></a>
    </h2>
    </div>
  </div>
</main>

{{ partial "footer.html" . }}
